$header-background-color: #161b25;
$education-background-color: #e7e8e9;
$decoration-blocks-background-color: #282d37;
$job-background-color: #383c45;

$inner-font-color: #FFFFFF;
$main-font-color: #161b25;
$education-font-color: #282d37;

$link-color: #383c45;
$link-hover-color: #00b3b3;
