* {
  margin: 0;
  padding: 0;
}


.header {
  background: #161b25;
  width:100%;

  .wrapper {
    width:1200px;
    margin: 0 auto;
    background: #161b25;
  }
}

.base_info {
  display:flex;
  justify-content:center;

  &_decoration {
    background: #282d37;

    .avatar_image {
      width:300px;
      height:400px;
      padding:25px 0 ;
    }
  }

  &_contact {
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:30px;
    font-family:sans-serif;
    color:white;

    span {
      display:block;
      color:white;
      font-weight:bold;
      font-size:50px;
    }

    .job {
      background: #383c45;
      opacity:0.5;
      color:white;
      margin-bottom:30px;
      padding:5px;

      h1 {
        font-size:15px;
      }
    }

    .bold {
      margin: 5px 0;
      font-weight:bold;
    }
  }
}

.social {
  display:flex;
  margin:30px;

  .social__item {
    margin-right: 28px;
  }
}

.main {
  width:1200px;
  margin:0 auto;
}

.summary {
  margin:50px;
  font-family:sans-serif;
  color:#161b25;

  &_title {
    color: #383c45;
    font-weight:bold;
    margin:5px;
    font-size:30px;
  }

  &_text {
    margin:10px;
  }
}

.experience {
  display:flex;
  justify-content:center;
  font-family:sans-serif;

  .experience_skills {
    background:#383c45;
    color: white;
    padding:30px;

    h2 {
      margin:10px;
      text-align:center;
    }
  }

  .experience_education {
    padding:30px;
    background:#e7e8e9;
    color: #282d37;

    h2 {
      text-align:center;
      margin:10px;
    }


    .bold {
      font-weight:bold;
    }

    a {
      color:#383c45;
      text-decoration:none;
    }

    a:hover {
      color: #548989;
    }
  }
}

.example {
  margin:50px;
  font-family:sans-serif;
  color:#161b25;

  &_title {
    color: #383c45;
    font-weight:bold;
    margin:5px;
    font-size:30px;
  }

  &_text {
    margin:10px;
  }

  a {
    font-weight:bold;
    text-decoration:none;
    color: #383c45;
  }

  a:hover {
    color: #009191;
  }
}

.english {
  margin:50px;
  font-family:sans-serif;
  color:#161b25;

  &_title {
    color: #383c45;
    font-weight:bold;
    margin:5px;
    font-size:30px;
  }

  &_text {
    margin:10px;
  }
}



